:root {
    --ct-code-font-family: Fira Code, Monaco, Menlo, Consolas, 'COURIER NEW', monospace;
    --ls-font-family: American Typewriter', 'segoe UI Emoji', 'sarasa ui sc', sans-serif;
}

* {
  font-family: sans-serif, 'American Typewriter', 'segoe UI Emoji', 'sarasa ui sc', sans-serif;
  font-variant-ligatures: none !important;
}


h1, h2, h3, h4 {
  color: #3f74bf;
  font-family: 'American Typewriter', 'segoe UI Emoji', 'sarasa ui sc', sans-serif;
}

/* Hide "table view" from queries */
div.mx-2 {
  display: none;
}

/* Hide page properites*/
div.block-properties.page-properties {
	display: none;
}

/* Hide "Set Properties" from queries */
.table-query-properties .text-sm {
  display: none;
}


/* Remove the actual query displayed in simple query tables */
.cp__query-builder {
    /* This  removes the + button */
	/* display: none;  */
}
/* ---- */
.cp__query-builder {
  height: 0;
  overflow: hidden;
}

.ls-block .custom-query>.th {
  margin-bottom:0;
}

.custom-query>.th:hover + .cp__query-builder {
  height: auto ;
}
 /*------- */


.graph-view-nav {
  display: none;
}

/* Styles for Auto-Hiding and Revealing on Mouse Hover for Block Properties */
/* Styles for displaying block properties */
/*
.block-properties {
  display: none;
  position: absolute;
  transform: translateX(0%); /* Move the properties horizontally aligned with the ".block-content-inner" DIV Left Margin */
  border-radius: 5px;
  padding: 10px;
  border: 1px solid var(--ls-secondary-border-color); /* Add custom border color from pre-defied variables */
  background: var(--ls-primary-background-color)
}
*/
/* Show block properties on hovering .block-content-inner */
/*
.block-content-inner:hover ~ .block-properties {
  display: block;
  opacity: 1;
  z-index: 999;
}
*/

/* Override styles for block properties in right sidebar */
/*
#right-sidebar .block-properties {
  display: block;
  position: relative;
}
*/

/* Hide DONE tasks*/
/*
.ls-block[data-refs-self~='\["done"\,']:not(:focus-within),
.ls-block[data-refs-self~='\["done"\]']:not(:focus-within) {
    display: none;
}
*/


/* Style the heading row of Query Table */
/*
th {
  font-size: 2.0rem;
  color: #000000;
  font-weight: bold;
  text-transform: capitalize;
  background-color: #03737f;
  border-radius: 8px;
}
*/

/*
Customed Tag Colors
*/
a.tag[data-ref="w01"]{
  background-color: white;
}

/* Wrap text in query table */

td {
    white-space: pre-wrap !important;
}
